@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  font-family: "Spectral", serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: #FFFAF6;
}

button {
  cursor: pointer;
  width: fit-content;
  border: none;
  text-align: center;
  box-shadow: inset 0px -4px 4px 0px rgba(0, 0, 0, 0.1),inset 0px 4px 4px 0px rgba(0, 0, 0, 0.1),0px -4px 4px 0px rgba(0, 0, 0, 0.1),0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.wrapper {
  max-width: 1366px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.link_logo {
  margin: 0 auto;
  text-decoration: none;
}

.logo {
  color: #232323;
  font-size: 35px;
  font-weight: 500;
  margin: 0 auto;
}

.logo span {
  color: #556832;
  text-align: center;
}

.login {
  width: 100vw;
  text-align: center;
}

.login_2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_rectangle_h1 {
  font-size: 40px;
  font-weight: 500;
  color: #232323;
  margin-bottom: 40px;
}

.login_rectangle {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  background-color: #556832;
  border-radius: 20px;
  padding: 60px;
  text-align: center;
}

input {
  color: #FFFAF6;
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFFAF6;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-bottom: 3px;
}

input {outline:none;}


input::placeholder {
  color: #FFFAF6;
  font-size: 15px;
  font-weight: 400;
}

.login_btn {
  padding: 15px 20px;
  background-color: #FFFAF6;
  color: #232323;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.login_p {
  color: #FFFAF6;
  font-size: 14px;
  font-weight: 300;
}

.login_p a {
  color: #FFFAF6;
  text-decoration: underline;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill,442px);
  width: 100%;
  max-width: 1366px; /* Ширина grid-контейнера */
  justify-content: center;
  justify-items: center; /* Размещаем карточку по центру */
  column-gap: 20px; /* Отступ между колонками */
  row-gap: 50px; /* Отступ между рядами */
  margin: 0 auto;
}

.image_container {
  margin-bottom: 20px;
}

.card_name {
  max-width: 442px;
  color: #232323;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

.card_date {
  color: #232323;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.card_btn {
  padding: 15px 20px;
  color: #FFFAF6;
  font-size: 18px;
  font-weight: 400;
  background: #556832;
  border-radius: 15px;
}

.title {
  color: #232323;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 40px;
}

.modal {
  width: 100vw;
  max-width: 600px;
  background-color: #556832;
  border-radius: 20px;
  padding: 60px;
  text-align: center;
  color: #FFFAF6;
}

.profile_modal {
  width: 100vw;
  max-width: 470px;
  background-color: #556832;
  border-radius: 20px;
  padding: 60px;
  text-align: center;
  color: #FFFAF6;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
  animation-name: appear;
  animation-duration: 300ms;
}
.modal_more {
  width: 100vw;
  max-width: fit-content;
  background-color: #556832;
  border-radius: 20px;
  padding: 60px;
  text-align: center;
  color: #FFFAF6;
}

.modal_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.modal_content {
  display: flex;
  flex-direction: column;
}

.p_modal_head {
  font-size: 30px;
  color: #FFFAF6;
  font-weight: 500;
}

.close_card {
  float: right;
  background-color: transparent;
  color: #FFFAF6;
  font-size: 20px;
  font-weight: 400;
}

.modal_content_more_1_1 {
  margin-bottom: 30px;
}

.modal_content_more {
  display: flex;
  justify-content: space-between;
  text-align: left;
  color: #FFFAF6;
  gap: 50px;
}

.modal_content_more_1_h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}

.modal_content_more_1_p {
  font-size: 16px;
  font-weight: 300;
}

.hr-line {
  margin-top: 17px;
  margin-bottom: 17px;
}

.info_name {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 12px;
}

.info_btn {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.name {
  font-size: 20px;
  font-weight: 500;

}

.email {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
}

.email span {
  font-weight: 400;
}

.like {
  font-weight: 400;
  font-size: 20px;
}

.modal-wrapper_profile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  animation-name: appear;
  animation-duration: 300ms;
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.85);
}

.footer {
  margin-top: 70px;
  text-align: center;
}

.container {
  margin-bottom: 20px;
}

.logout_btn {
  padding: 15px 20px;
  background-color: #FFFAF6;
  color: #232323;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}