@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

* {
  font-family: "Alegreya", serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: #FFFAF6;
}

button {
  cursor: pointer;
  padding: 15px 20px;
  width: fit-content;
  border: none;
  text-align: center;
}

.wrapper {
  max-width: 1366px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.logo {
  color: #232323;
  font-size: 30px;
  font-weight: 500;
  margin: 0 auto;
}

.logo span {
  color: #556832;
  text-align: center;
}

.login {
  width: 100vw;
  text-align: center;
}

.login_2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_rectangle_h1 {
  font-size: 40px;
  font-weight: 500;
  color: #232323;
  margin-bottom: 40px;
}

.login_rectangle {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  background-color: #556832;
  border-radius: 20px;
  padding: 60px;
  text-align: center;
}

input {
  color: #FFFAF6;
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFFAF6;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-bottom: 3px;
}

input {outline:none;}


input::placeholder {
  color: #FFFAF6;
  font-size: 15px;
  font-weight: 400;
}

.login_btn {
  background-color: #FFFAF6;
  color: #232323;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.login_p {
  color: #FFFAF6;
  font-size: 14px;
  font-weight: 300;
}

.login_p a {
  color: #FFFAF6;
  text-decoration: underline;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill,442px);
  width: 100%;
  max-width: 1366px; /* Ширина grid-контейнера */
  justify-content: center;
  justify-items: center; /* Размещаем карточку по центру */
  column-gap: 20px; /* Отступ между колонками */
  row-gap: 50px; /* Отступ между рядами */
  margin: 0 auto;
}

.image_container {
  margin-bottom: 20px;
}

.card_name {
  max-width: 442px;
  color: #232323;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

.card_date {
  color: #232323;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.card_btn {
  color: #FFFAF6;
  font-size: 18px;
  font-weight: 400;
  background: #556832;
  border-radius: 15px;
}

.title {
  color: #232323;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 40px;
}

.modal {
  width: 100vw;
  max-width: 600px;
  background-color: #556832;
  border-radius: 20px;
  padding: 60px;
  text-align: center;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
  animation-name: appear;
  animation-duration: 300ms;
}

.modal_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_content {
  display: flex;
  flex-direction: column;
}

.p_modal_head {
  font-size: 30px;
  color: #FFFAF6;
  font-weight: 500;
  margin-bottom: 35px;
}

.close_card {
  background-color: transparent;
  color: #FFFAF6;
  font-size: 20px;
  font-weight: 400;
}